{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}


{% block button %}

<button id="button1" class="button button1" onclick="Start()">Start Capturing</button>

<script>
	function Start(){
		w = window.open("../engine/index.php", "_blank");
		document.getElementById("button1").innerHTML = "Capturing...";
		w.close();
	}
</script>

{% endblock %}

{% block content %}

<main role="main" class="container">
	<!-- Affiche Adresse IP -->
	<div align = "center"> 
		Votre IP locale est {{localIP}}.
	</div>
	<div class="jumbotron">
		<div align = "center"> 
			<h1>Les graphes</h1>
			<p class="lead">Voici les différents exemples de graphes disponibles pour visualiser votre réseau local.</p>
			<p>Ce site étant en développement, vous devez d'abord faire une capture wireshark sur votre poste et l'enregistrer en fichier texte en le nommant "Capture.txt".</p>
			<a href="{{path('graph')}}" > Graph mouvable </a>
		</div>
	</div>
</main>

{% endblock %}