{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

<main role="main" class="container">
	<!-- Affiche Adresse IP -->
	<div align = "center"> 
		Votre IP locale est {{localIP}}.
	</div>
	<div>
		<div align = "center"> 
			<image src="{{ asset('/images/NMP.jpg') }}" height="400px" width="600px" /><br/>
			<a href="{{path('graph')}}" > Accéder au graphe</a>
		</div>
	</div>
</main>

{% endblock %}