.node circle {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

svg text {
  pointer-events: none;
  font: "Segoe UI";
  font-size: 10px;
}

.links line {
  stroke-opacity: 0.6;
  background-color: black;
}

h1 {
	display: block;
	margin-left:auto;
	margin-right: auto;
	width: 500px
}

label {
	background-color: lightgreen;
}

body { 
    padding-top: 80px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    line-height: 1.5;
}

.row{
  margin-top: 10px;
}

table{
   width: 960px;
}

#line {
    border: 1px solid grey;
}

#details{
  display: none;
}

footer{
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}