.node circle {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

.links line {
  stroke-opacity: 0.6;
  background-color: black;
}

h1 {
	display: block;
	margin-left:auto;
	margin-right: auto;
	width: 500px
}

label {
	background-color: lightgreen;
}

body { 
    padding-top: 80px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    line-height: 1.5;
}

.button1 {
  padding: 10px;
  position:absolute;
  top:0;
  right:0;
  margin-top: 4px;
  margin-right: 4px;
}