.node circle {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

svg text {
  pointer-events: none;
  font: "Segoe UI";
  font-size: 10px;
}

.links line {
  stroke-opacity: 0.6;
  background-color: black;
}

h1 {
	display: block;
	margin-left:auto;
	margin-right: auto;
	width: 500px
}

label {
	background-color: lightgreen;
}

body { 
    padding-top: 80px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    line-height: 1.5;
}

.row {
  margin-top: 10px;
}

#customize {
  margin-top: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    font-style: italic;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: grey;
    font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: grey;
    font-style: italic;
}

select {
  margin-top: 10px;
}

table {
   width: 960px;
}

#line {
    border: 1px solid grey;
}

#details {
  display: none;
  margin-top: 10px;
}

.type0 {
  background-color: white;
}

.type1 {
  background-color: gainsboro;
}

.diagram {
  width: 100px;
  height: 100px;
  transform: rotate(-90deg);
  background: blue;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
}

#circle1 {
  fill: blue;
  stroke: orange;
  stroke-width: 31;
}

footer {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}